
@model First_Exam.Models.TicketViewModel;

@{
    ViewData["Title"] = "EditTicket";
}

<h1 class="text-center">Registro del boleto</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="EditTicket" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Entrances" />
            <input type="hidden" asp-for="EntranceId" />
            <partial name="_EditTicket"/>
            <div class="form-group mt-2">
                 <input type="submit" value="Validar" class="btn btn-outline-primary" />
                <a asp-action="CheckTicket" class="btn btn-outline-secondary">Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

